[viewBag]
==
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>

    <ul class="right hide-on-med-and-down">
      <li><a href={{'content/static-pages/index.htm'|theme}}>Home</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="dropdown1">Teszt layouts<i class="material-icons right">arrow_drop_down</i></a></li>
			<!-- submenu -->
			<ul id="dropdown1" class="dropdown-content">
				<li><a href={{'content/static-pages/teszt-layouts-materializer.htm'|theme}}>materializer</a></li>
				<li class="divider"></li>
				<li><a href="!#">angular</a></li>
			</ul>
			<!-- submenu -->
			<li><a href={{'pages/form-teszt.htm'|theme}}>Form teszt</a></li>
	 </ul>
  </div>
</nav>
