description = "default layout"
==
<!DOCTYPE html>
<html>
<head>
    <title>{{ this.page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ ['assets/css/main.min.css']|theme }}" rel="stylesheet">
    {% styles %}
</head>
<body>
    
    
    {% page %}
    <script src="{{ [
        'assets/js/jquery-2.2.4.min.js',
        'assets/js/theme-main-min.js',
        '@framework',
        '@framework.extras']|theme }}"></script>
        
    <script>
        $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
  
  
      $('.carousel.carousel-slider').carousel({fullWidth: true});
        
    </script>    
    {% scripts %}
</body>
</html>